mat-form-field, textarea{
  width:100%;
}

/* mat-form-field{
  background-color: rgba(51, 170, 51, .1)
} */

mat-spinner {
  margin: auto;
}

.login-card {
  max-width: 400px;
  margin: auto;
}

/* .login-background {
  background-image: url('../../../assets/shutterstock_695113861.jpg');
  background-size: cover
} */

.login-logo {
  max-width: 100px;
  padding-top: 2em;
  margin: auto;
  
}

.login-button{
  color: white;
  width: 200px;
}

.login-button-div{
  display: flex;
}

.fc {
  justify-content: center;
}

.login-hr {
  height: 1px;
  background-color: lightgray;
}