<mat-card class="login-card">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginform)" #loginform="ngForm" *ngIf="!isLoading">
    <mat-card-title class="login-title">Welcome to the Innovator Portal</mat-card-title>
    <img mat-card-image src="../../../assets/shutterstock_695113861.jpg">
    <mat-form-field>
      <input name="email" type="email" matInput ngModel placeholder="email" #emailInput="ngModel" required email>
    <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input name="password" type="password" ngModel matInput placeholder="password" #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <mat-card-action>
      <button color = 'accent' type="submit" mat-raised-button *ngIf="!isLoading">Login</button>
      
    </mat-card-action>
    
  </form>
  <mat-card-subtitle class="login-register">Don't have an account?</mat-card-subtitle>
  <mat-card-footer> Don't have an account?</mat-card-footer>
</mat-card>
  