<div style="margin-top: 40px;">
  <!-- <section class="posts-subheader">
    <div class="example-label">Add a New Idea</div>
    <div class="example-button-row">
    </div>
  </section> -->

  <div class="isf_header">
    <h1>Idea Submission Form</h1>
    <h3>Make sure to read the <span class="isf_links">terms of use</span> and <span class="isf_links">guidelines</span> of submitting copyrighted content to LAB7</h3>
  </div>


  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact details:
        </mat-panel-title>
        <mat-panel-description>
          Provide your contact info.
          <!-- Need to fix -->
          <mat-icon>account_box</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="number" min="1" placeholder="Ex. 966 5x xxxx xxx">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input name="username" type="text" matInput ngModel placeholder="Ex. abc@lab7.com" #emailInput="ngModel">
        <mat-error *ngIf="emailInput.invalid">Please enter a valid username</mat-error>
      </mat-form-field>

      <div>
        <label style="margin-bottom: 10px;">Is the application submitted on behalf of a company? </label>
        <mat-radio-group [formControl]="floatLabelControl" color="primary">
          <div><mat-radio-button value="0">No</mat-radio-button>
            <mat-radio-button value="1">Yes</mat-radio-button></div>
          
        </mat-radio-group>
      </div>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          General details:
        </mat-panel-title>
        <mat-panel-description>
          Type the idea information
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Idea title</mat-label>
        <input matInput>
      </mat-form-field>

      <div class="isf_header">
        <label style="margin-bottom: 10px;">Choose submittal type: </label>
        <div>
          <mat-radio-group [formControl]="floatLabelControl" color="primary">
            <mat-radio-button value="residency">Residency Program</mat-radio-button>
            <mat-radio-button value="ppu">Pay Per Use (PPU)</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <!-- <section class="domain-section" [formGroup]="domains">
        <h4>Select your idea domains:</h4>
        <p><mat-checkbox formControlName="circular">Circular Economy and Decarbonizaiton</mat-checkbox></p>
        <p><mat-checkbox formControlName="greenfuels">Green Fuels and Minerals</mat-checkbox></p>
        <p><mat-checkbox formControlName="energyefficiency">Energy Efficiency</mat-checkbox></p>
        <p><mat-checkbox formControlName="energystorage">Energy Storage</mat-checkbox></p>
        <p><mat-checkbox formControlName="advancerobotics">Advanced Robotics</mat-checkbox></p>
        <p><mat-checkbox formControlName="renewables">Renewables</mat-checkbox></p>

        {{domains.name}}s
        Add more options
      </section> -->

      <span class="domain-list-section">
        <label style="margin-bottom: 8px;">Choose idea domains(s): </label>
        <ul class="isf_ul">
          <li *ngFor="let sub of domain.subdomain">
            <mat-checkbox color="primary">
              {{sub.name}}
            </mat-checkbox>
          </li>
        </ul>
        <span *ngIf="other">
          <mat-label>Specifiy additional idea domain:</mat-label>
          <input matInput >
        </span>
      </span>

    
      <label style="margin-bottom: 8px;">Patent disclaimer: </label>
      <mat-checkbox color="primary"
                    style="margin-top: 8px; display: block;">A patent has been granted for this idea?</mat-checkbox>
        

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Technical details:
        </mat-panel-title>
        <mat-panel-description>
          Technical details on the idea
          <mat-icon>build</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <!-- What problem does your idea attempt to solve? Or the opportunity you want to create? -->
      <mat-form-field class="example-full-width">
        <mat-label>What problem does your idea attempt to solve? 
                                            Or the opportunity you want to create? </mat-label>
        <textarea matInput ></textarea>
        <!-- <mat-hint align="start"><strong>Feel free to elaborate</strong> </mat-hint> -->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Describe your proposed idea, and how it addresses the problem? </mat-label>
          <textarea matInput ></textarea>
          <!-- <mat-hint align="start"><strong>Feel free to elaborate</strong> </mat-hint> -->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>What is the innovative step of your idea? </mat-label>
          <textarea matInput ></textarea>
          <!-- <mat-hint align="start"><strong>Feel free to elaborate</strong> </mat-hint> -->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>What is the key value proposition of your idea? </mat-label>
          <textarea matInput ></textarea>
          <!-- <mat-hint align="start"><strong>Feel free to elaborate</strong> </mat-hint> -->
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Development details:
        </mat-panel-title>
        <mat-panel-description>
          Add dev. info.
          <mat-icon>developer_board</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

    
      <label style="margin: 15px auto;">What is the current development stage of the idea? </label>
      <mat-radio-group [formControl]="floatLabelControl" color="primary">
        <ul class="isf_ul">
          <li><mat-radio-button value="idea">Idea</mat-radio-button></li>
          <li><mat-radio-button value="research">Research</mat-radio-button></li>
          <li><mat-radio-button value="proof-of-concept">Proof of concept</mat-radio-button></li>
          <li><mat-radio-button value="mvp">Minimum value product (MVP)</mat-radio-button></li>
          <li><mat-radio-button value="ready-for-production">Ready for production</mat-radio-button></li>
          <li><mat-radio-button value="in-production">In-production</mat-radio-button></li>
        </ul>
      </mat-radio-group>
    

      <mat-form-field class="development-full-width">
        <mat-label>Expected LAB7 resources and experties </mat-label>
        <textarea matInput ></textarea>
        <!-- <mat-hint align="start"><strong>Feel free to elaborate</strong> </mat-hint> -->
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Attachments:
        </mat-panel-title>
        <mat-panel-description>
          Add relevent documentation
          <mat-icon>attachment</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker> -->

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

  <!-- ==================================================================== -->

  <!-- <mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="title"
          ngModel
          required
          minlength="3"
          placeholder="Idea Title"
          #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter an idea title.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          rows="4"
          name="content"
          ngModel
          required
          placeholder="Idea Content"
          #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter an idea title.</mat-error>
      </mat-form-field> -->
      <div style="margin-top: 15px;">  
        <button
          mat-raised-button>Cancel</button>
        <button
          mat-raised-button
          color="accent"
          style="margin-left: 10px; ">Save</button>
        <button
          mat-raised-button
          color="accent"
          style="margin-left: 10px; background-color:#64ca5b">Save and Submit</button>
      </div>
    <!-- </form> -->
  <!-- </mat-card> -->



  <!-- <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact Information
        </mat-panel-title>
        <mat-panel-description>
          Type your contact information
        </mat-panel-description>
      </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>

        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Idea Information
        </mat-panel-title>
        <mat-panel-description>
          Type your contact information
        </mat-panel-description>
      </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>

        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>

    </mat-expansion-panel>
    
  </mat-accordion> -->
<div>