mat-form-field, textarea{
  width:100%;
}

/* .register_image{
  background-image: url("../../../assets/shutterstock_695113861.jpg");
  height: 100%;
  width: 100%;
} */

mat-spinner {
  margin: auto;
}

.signup-chbox {
  padding-bottom: 10px;
  overflow-wrap: break-word;
}