<mat-toolbar *ngIf='userIsAuthenticated' color="primary" class="header">
  <a href="/"><div style="display: flex; align-items: center; "><img src="../assets/path30.png" style="height: auto;width: 30%;"></div></a>
  <span class="nav-tool-items">
    <mat-icon (click)="drawer.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="mat-accent" routerLink="/">
        <mat-icon class="menu_icon">home</mat-icon> Home
      </a>
      <a mat-list-item routerLinkActive="mat-accent" routerLink="/posts">
        <mat-icon class="menu_icon">content_paste</mat-icon> Idea Basket
      </a>
      <!-- <a mat-list-item routerLinkActive="mat-accent" routerLink="/create">
        <mat-icon>content_paste</mat-icon> Table List something something
      </a> -->
      <a mat-list-item (click) = "onLogout(drawer)">
        <mat-icon class="menu_icon">logout</mat-icon> Logout
      </a>
      </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>

<!-- <app-header></app-header> -->
<!-- <main>
    <router-outlet></router-outlet>
</main> -->
  